$font-family: Montserrat, Inter, 'SF Pro', 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-size: 16px;
$line-height: 1.5;

$text: hsl(221, 14%, 29%);

$white: hsl(0, 0%, 100%);
$lightest: hsl(221, 14%, 96%);
$lighter: hsl(221, 14%, 86%);

$blue: hsl(217, 100%, 61%);
$green: hsl(173, 58%, 39%);
$yellow: hsl(43, 74%, 66%);
$red: hsl(13, 68%, 63%);