body, button, input, optgroup, select, textarea {
  font-family: 'Manrope', sans-serif;
}

b {
  font-weight: 600;
}

.title {
  font-weight: 600;
}

.level {
  width: 100%;
}

.modal {
  justify-content: flex-start;
}

.modal-card {
  margin-top: 20px;
}

.modal-card-title {
  text-align: center;
}

.info-block {
  white-space: pre-wrap;
  word-break: break-word;
}

.is-text-overflowed {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}