@use "bulma/sass/utilities" with (
  $cssvars-prefix: ''
);

@forward "bulma/sass/base";
@forward "bulma/sass/components/dropdown";
@forward "bulma/sass/components/navbar";
@forward "bulma/sass/components/modal";
@forward "bulma/sass/elements/block";
@forward "bulma/sass/elements/box";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/delete";
@forward "bulma/sass/elements/notification";
@forward "bulma/sass/elements/title";
@forward "bulma/sass/form/file";
@forward "bulma/sass/form/input-textarea";
@forward "bulma/sass/form/select";
@forward "bulma/sass/form/tools";
@forward "bulma/sass/grid/columns";
@forward "bulma/sass/helpers/color";
@forward "bulma/sass/helpers/spacing";
@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/level";

@use "bulma/sass/themes/light";
@use "bulma/sass/themes/setup";

:root {
  @include light.light-theme;
  @include setup.setup-theme;
}

.level {
  width: 100%;
}

.modal {
  justify-content: flex-start;
}

.modal-card {
  margin-top: 20px;
}

.modal-card-title {
  text-align: center;
}

.info-block {
  white-space: pre-wrap;
  word-break: break-word;
}

.is-text-overflowed {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}